<!doctype html>
<html data-ng-app="clientAPP">
<head>
<title>Client List</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script src="/js/clientModule.js"></script>
<script src="/js/clientData.js"></script>
</head>

<body data-ng-controller="clientController">
	<div>
		<h2>Here is the name list</h2>
		<input data-ng-model="search" type="text" placeholder="Search">
		<a href="addClient"> <input type="button" value="Add Client" /></a>
		<ul class="list-group w-50">
			<li class="list-group-item"
				data-ng-repeat="client in clients | filter:search">ID:
					{{client.id}}, Name: {{client.name}}, Contact Info:
					{{client.contactInfo}}, address: {{client.address}}
					
						  <input type="button"  class="btn btn-primary btn-sm" value="View Related Vendors" />
						   <input type="button" class="btn btn-secondary btn-sm" value="Edit" /> 
							<input type="button" data-ng-click="deleteClient(client.id)" class="btn btn-danger btn-sm"
							value="delete" />
					
			</li>
		</ul>
	</div>
</body>
</html>